@charset "utf-8";

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

html {
    background-color: #fff;
}

body {
    background-color: #FCF7EB;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Hind", sans-serif;
}

.wrap {
    padding: 0 100px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

h1 img {
    width: 150px;
    height: 70px;
    object-fit: cover;
    margin: 10px 0 10px 10px;
}

nav {
    height: 70px;
    margin: 10px;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.menu li {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 18px;
    text-align: center;
}

.menu li a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .20rem;
}

.menu li:nth-child(5) a {
    width: 193px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .47em;
    line-height: 1.4;
    background-color: #55DAE9;
    border-radius: 20px;
}

.menu li:nth-child(5) a::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: 16.9px;
    top: 27.5px;
    z-index: 2;
}

.menu li:nth-child(5) a::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    right: 12px;
}


/* ------------------------------------------------------------- */
/* mainvisual */
.mainvisual {
    width: 100%;
}

.mainvisual img {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    /* 中央寄せ（任意） */
}

/* ------------------------------------------------------------- */
/* concept */
#concept {
    text-align: center;
    padding: 120px 100px 60px;
}

#concept .sec-title {
    height: 20px;
    font-size: 24px;
    letter-spacing: .17em;
    margin-bottom: 35px;
    /* text-decoration: underline;
    text-underline-offset: 7px; */
    position: relative;
}

#concept .sec-title::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 1px;
    background-color: #000;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.catch {
    max-width: 900px;
    width: 100%;
    aspect-ratio: 3 / 1;
    margin: 0 auto;
    background: radial-gradient(ellipse at center,
            rgba(255, 0, 0, 0.15) 30%,
            rgba(255, 0, 0, 0.08) 50%,
            rgba(255, 0, 0, 0) 72%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    text-align: center;
}

.catch p {
    width: 100%;
    font-size: clamp(11px, 2.5vw, 32px);
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    letter-spacing: .62em;
    line-height: 1.5;
}

.catch-text {
    margin-top: -15px;
    font-size: clamp(8px, 1.2vw, 14px);
    letter-spacing: .25em;
    line-height: 1.8em;
}

/* ------------------------------------------------------------- */
/* profile */

#profile{
    background-color: #fff;
    padding: 20px 0 10px;
    position: relative;
    max-height: 760px;
    aspect-ratio: 1/0.7;
}

#profile .sec-title {
    width: 84%;
    height: 6%;
    background: radial-gradient(ellipse at center,
    rgba(255,255,255,1) 0%,
    rgba(208,169,0,1) 60%);
    font-size: clamp(13px,1.8vw, 24px);
    letter-spacing: .17em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 50%, 2% 0, 98% 0, 100% 50%, 98% 100%, 2% 100%);
}

#profile img{
    width: 30%;
    aspect-ratio: 1/ 1.26;
    position: absolute;
    top: 11.5%;
    left: 16%;
}
#profile .ja{
    font-size: clamp(12px, 2.2vw, 28px);
    font-weight: bold;
    letter-spacing: .3em;
    position: absolute;
    top: 14.2%;
    left: 50%;
}
#profile .en{
    font-size: clamp(8px, 1.1vw, 14px);
    letter-spacing: .3em;
    position: absolute;
    top: 19%;
    left: 50.5%;
}

.prof_description{
    position: absolute;
    top: 22%;
    left: 44.9%;
    width: 40%;
    max-height: 385px;
    padding: clamp(10px, 2vw, 20px);
    background-color: rgba(255, 255, 255, 0.3);
    font-size: clamp(6px, 1.3vw, 14px);
    letter-spacing: 0.1em;
    line-height: 1.7;
}
.prof_work{
    position: absolute;
    top: 75.1%;
    left: 19.8%;
    width: 57.5%;
    height: auto;
    max-height: 150px;
    font-size: clamp(7px, 1.3vw, 12px);
    letter-spacing: 0.17em;
    line-height: 1.66;
}
